/* Common */

@font-face {
  font-family: "Podkova";
  src: url("fonts/Podkova/Podkova-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Great Vibes";
  src: url("fonts/Great_Vibes/GreatVibes-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Podkova", serif;
  background: #000;
  color: #fff;
  text-align: center;
  justify-content: center;
  overflow-y: scroll;
  /* scroll-snap-type: y proximity;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; */
  height: 100vh;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 66vh;
  overflow: hidden;
  position: relative;
  /* scroll-snap-align: start; */
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
}

p {
  font-family: "Podkova", serif;
}

/* Tupic */

.tupic {
  position:absolute;
  top: -20px;
  width: 100px;
  height: 100px;
  animation: moveThrough 1200ms linear;
  animation-fill-mode: forwards;
}

/* Header */

.hero {
  padding: 100px 20px;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  background: url(header.jpg) no-repeat top;
  background-size: cover;
  text-shadow: 0 0 2px black;
}

.hero-text {
  margin-top: 400px;
  width: 100%;
}

.hero-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

.hero-text-subtitle-container {
  position: relative;
}

.hero-text-element {
  margin: 0 15px;
  font-size: 50pt;
  font-weight: normal;
}

.hero-text-element-left,
.hero-text-element-right {
  animation-name: titleMotion;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.hero-text h2 {
  opacity: 0;
  animation-name: titleAppear;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

/* Calendar */

.calendar {
  padding: 40px 20px;
  font-family: "Great Vibes", cursive;
  text-align: center;
  color: white;
}

.calendar h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 10px;
  justify-content: center;
  font-size: 1.2em;
}

.calendar-grid div {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
}

.heart-border {
  color: #ff0000;
  font-weight: bolder;
}

.heart-border::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: url("heart-outline.svg") no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.whale {
  animation: whaleMotion 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  position: absolute;
  background: url(whale_small.webp) no-repeat right;
  width: 599px;
  height: 230px;
  margin-top: 210px;
}

/* Location */

.location-title {
  margin: 20px;
}

.location-container {
  background: url(grebeshki_background.jpg) no-repeat;
  background-size: 100%;
  width: 600px;
  aspect-ratio: 3/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-logo {
  margin: 40px 60px;
}

.location-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
}

/* Timeline */

.timeline {
  background: url(timeline.svg) no-repeat center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 10px;
}

.timeline-path {
  stroke-dasharray: 100;
}

.event {
  width: 50%;
  font-family: "Podkova";
}

.event-left {
  text-align: right;
}

.event-right {
  text-align: left;
}

/* Dresscode Section */

.dresscode-title {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.dresscode-cat {
  width: 240px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.gallery>* {
  width: 180px;
  height: auto;
}

.gallery a img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Wishes Section */

.wishes-container {
  background-color: #090909;
  border-image: url(frame.jpg) round;
  border-image-slice: 266 272 fill;
  border-image-width: 650px;
}

.wishes {
  margin: 150px;
}

.wishes-text {
  margin: 50px 0;
}

/* Telegram */

.telegram-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.telegram-icon {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

/* RSVP Section */

.rsvp-frame {
  border: unset;
  height: 1165px;
}

.success {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  background: url(success.jpg) no-repeat top;
  background-size: cover;
  display: none;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

button {
  background: #fff;
  color: #000;
  cursor: pointer;
}

/* Footer */

footer {
  margin-top: 50px;
  padding: 20px;
  font-size: 14px;
  position: relative;
  background: #111;
}

.waves {
  position: absolute;
  width: 100%;
  height: 100px;
  background: url("waves.svg") repeat-x;
  bottom: 100%;
  left: 0;
  animation: waveMotion 10s linear infinite;
}

/* Animations */

@keyframes waveMotion {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes titleMotion {
  from {
    flex-grow: 1;
  }

  to {
    flex-grow: 0;
  }
}

@keyframes titleAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes titleMotionLeft {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes titleMotionRight {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0;
  }
}

@keyframes whaleMotion {
  from {
    margin-right: 800px;
  }

  to {
    margin-right: -2000px;
  }
}

@keyframes moveThrough {
  from {
    left: -30vw;
  }
  to {
    left: 100vw;
  }
}

/* Tablet */

@media (max-width: 768px) {
  .hero-text {
    margin-top: 170px;
  }

  .hero-text-container {
    flex-direction: column;
  }

  .hero-text-element-left {
    animation-name: titleMotionLeft;
  }

  .hero-text-element-right {
    animation-name: titleMotionRight;
  }

  .location-container {
    width: 100%;
  }

  .location-logo {
    margin: 0 60px;
  }

  .gallery>* {
    width: 120px;
  }

  .wishes {
    margin: 100px 50px;
  }
}

/* Phone */

@media (max-width: 425px) {
  .hero-text h2 {
    animation-delay: 0s;
  }
}
